* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1080px;
    max-width: 100%;
}

.debug section {
    height: 250px;
}

.debug .section-5 {
    height: 500px;
}

.debug footer {
    height: 350px;
}

/* Header */

.debug .header {
    background-color: #a6e3ff;
    padding: 20px 0;
}

.header>.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 25px;
}

/* .debug header>.container {
    background-color: yellow;
} */

.logo-header {
    border: 1px solid black;
    width: 20%;
    background-color: yellow;
}

.lista-header {
    list-style-type: none;
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    background-color: yellow;
}

.link-item {
    display: inline-block;
    margin: 0 5px 0 5px;

}

.login-header {
    border: 1px solid black;
    width: 20%;
    text-align: right;
    background-color: yellow;
}

/* Main */



.main>section>.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    background-color: blue;

}

.section-2 {
    background-color: white;

}

.section-3 {
    background-color: gray;
}

.section-4 {
    background-color: white;
}

.section-5 {
    background-color: gray;

}

/* figli section main */

.single-col {
    background-color: rgb(255, 137, 157);
    height: 200px;
    min-width: 800px;
}

.section-2 .col-big {
    height: 200px;
    width: 70%;
    background-color: rgb(16, 195, 255);
}

.section-2 .col-small {
    min-height: 200px;
    width: 30%;
    background-color: pink;
    padding: 5px;
}

.section-3 .col-small {
    height: 200px;
    width: 30%;
    background-color: pink;
}


.section-3 .col-big {
    height: 200px;
    width: 70%;
    background-color: rgb(16, 195, 255);

}

.section-4 .col-big {
    height: 200px;
    width: 70%;
    background-color: rgb(16, 195, 255);
}

.section-4 .col-small {
    height: 200px;
    width: 30%;
    background-color: pink;
}

.green-col {
    height: 450px;
    min-width: 100%;
    background-color: green;
}

/* Footer */

footer {
    background-color: rgba(0, 0, 0, 0.818);

}

/* footer>.container {
    display: flex;
    justify-content: center;
    align-items: center;
 
} */


/* footer .container>.square-pink {
    height: 240px;
    width: 200px;
    background-color: pink;
    margin-top: 10px;

} */

/* footer .container>.square-cyan {
    height: 240px;
    width: 100px;
    background-color: rgb(30 161 130);
    border: 1px solid white;
    margin-top: 10px;

} */




.line {
    border: 1px solid #9e9e9e;
    min-width: 100%;
    margin: auto;
    margin-top: 38px;
}

/* Seconda sezione Footer */

/* .footer-div-2 {
    display: inline-block;
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    background-color: #bcf1df;
    height: 30px;
    align-items: center;
    margin-top: 30px;
} */

/* 
.footer-logo,
.footer-bottone {
    background-color: pink;
    color: black;
    border: 1px solid black;
}  */


.primo-footer>.container {
    display: flex;
}

.primo-footer .large-col {
    background-color: pink;
    width: 30%;
    min-height: 240px;
    border: 1px solid black;
}

.primo-footer .small-col {
    width: 70%;
    display: flex;
    min-height: 240px;
    background-color: aqua;
    border: 1px solid black;
}

.primo-footer .square-cyan {
    width: 25%;
    border: 1px solid white;
}

.secondo-footer {
    display: flex;
    margin-top: 40px;
}

.secondo-footer>.container>.prova {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    line-height: 30px;
    min-width: 100%;
}

.footer-logo,
.footer-bottone {
    background-color: pink;
}

/* .section-2 .col-big {
    background-image: url(../img/item1.svg);
    background-size: cover;
} */

.section-2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

.section-2 .col-small>p {
    margin-top: 10px;
}